# Dictionary

In [8]:
dic = {'name':'Jay', 'phone':'010-1111-2222','birth':'910103'}
dic

{'name': 'Jay', 'phone': '010-1111-2222', 'birth': '910103'}

In [9]:
a={1:'hi'}
a

{1: 'hi'}

In [11]:
a = {'a' : [1,2,3]}
a

{'a': [1, 2, 3]}

In [12]:
a = {1:'a'}
a[2] = 'b'
a

{1: 'a', 2: 'b'}

In [13]:
a['name'] = 'Jay'
a

{1: 'a', 2: 'b', 'name': 'Jay'}

In [14]:
a[3] = [1,2,3]
a

{1: 'a', 2: 'b', 'name': 'Jay', 3: [1, 2, 3]}

In [15]:
del a[1]
a

{2: 'b', 'name': 'Jay', 3: [1, 2, 3]}

In [16]:
grade = {'Jay':10, 'Jane':99}
grade['Jay']

10

In [17]:
a = {1:'a',1:'b'}
a

{1: 'b'}

In [1]:
a = {[1,2]:'hi'}
a

TypeError: unhashable type: 'list'

In [2]:
dic = {'name':'Jay', 'phone':'010-1111-2222','birth':'910103'}
dic.keys()

dict_keys(['name', 'phone', 'birth'])

In [3]:
for k in dic.keys() :
    print(k)

name
phone
birth

In [4]:
list(dic.keys())

['name', 'phone', 'birth']

In [5]:
dic.values()

dict_values(['Jay', '010-1111-2222', '910103'])

In [6]:
for i in dic.values():
    print(i)

Jay
010-1111-2222
910103

In [7]:
dic.items()

dict_items([('name', 'Jay'), ('phone', '010-1111-2222'), ('birth', '910103')])

In [8]:
dic.clear()
dic

{}

In [9]:
dic = {'name':'Jay', 'phone':'010-1111-2222','birth':'910103'}
dic.get('name')

'Jay'

In [10]:
dic.get('phone')

'010-1111-2222'

In [11]:
print(dic.get("test"))

None

In [12]:
print(dic["test"])

KeyError: 'test'

In [13]:
dic.get('test','default')

'default'

In [14]:
'name' in dic

True

In [15]:
'test' in dic

False

# Set
중복을 허용하지 않음!
순서가 없음!

In [16]:
s1 = set([1,2,3])
s1

{1, 2, 3}

In [18]:
s2 = set("Hello")
s2

{'H', 'e', 'l', 'o'}

In [19]:
s1 = set([1,2,3])
l1 = list(s1)
l1

[1, 2, 3]

In [20]:
l1[0]

1

In [21]:
t1 = tuple(s1)
t1

(1, 2, 3)

In [22]:
t1[0]

1

In [23]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

In [24]:
#intersection
print(s1 & s2)
print(s1.intersection(s2))

{4, 5, 6}
{4, 5, 6}

In [25]:
#Union
print(s1 | s2)
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [26]:
#Difference
print(s1 - s2)
print(s1.difference(s2))

{1, 2, 3}
{1, 2, 3}

In [27]:
s1 =set([1,2,3])
s1.add(4)
s1

{1, 2, 3, 4}

In [28]:
# multiple add
s1 = set([1,2,3])
s1.update([4,5,6])
s1

{1, 2, 3, 4, 5, 6}

In [29]:
s1 = set([1,2,3])
s1.remove(2)
s1

{1, 3}

In [30]:
a = [1,1,1,2,2,3,3,3,4,4,5]
set(a)

{1, 2, 3, 4, 5}

# Bool

In [31]:
a = True
b = False
print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

In [32]:
1 == 1

True

In [33]:
a = [1,2,3,4]
while a:
    print(a.pop())

4
3
2
1

In [34]:
if []:
    print("True")
else:
    print("False")

False

In [35]:
if [1,2,3]:
    print("True")
else:
    print("False")

True

In [36]:
bool("python")

True

In [37]:
bool("")

False

In [38]:
bool(0)

False

In [39]:
bool([])

False

# Variable

In [40]:
a = [1,2,3]
id(a) #a의 메모리 주소

1975709176136

In [41]:
b = a
print(id(a),id(b))

1975709176136 1975709176136

In [44]:
a[2]=4
b # 주소값이 같기 때문에 a를 변경하면 b 도 변경됨!

[1, 2, 4]

In [45]:
a is b

True

In [46]:
a = [1,2,3]
b = a[:] # 리스트 전체를 복사.
a[1] = 4
print(a, b)

[1, 4, 3] [1, 2, 3]

In [47]:
from copy import copy
b = copy(a)

In [48]:
b is a

False

In [49]:
a,b = ('python','life')

In [50]:
print(a,b)

python life

In [51]:
[a,b] = ['python','life']
print(a,b)

python life

In [53]:
a = b = 'python'
a is b

True

In [54]:
a = 3
b = 5
a,b = b,a
print( a,b)

5 3

In [55]:
a = [1,2,3]
a += [4,5]
a

[1, 2, 3, 4, 5]

In [56]:
a = [1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]