In [2]:
import pandas as pd

# Read the data
data = pd.read_csv('../../../Data/credit-card-data-from-book-econometric-analysis/AER_credit_card_data.csv', 
                   true_values = ['yes'], false_values = ['no'])

# Select target
y = data.card

# Select predictors
X = data.drop(['card'], axis=1)

print("Number of rows in the dataset:", X.shape[0])
X.head()

Number of rows in the dataset: 1319

,reports,age,income,share,expenditure,owner,selfemp,dependents,months,majorcards,active
0,0,37.66667,4.5200,0.033270,124.983300,True,False,3,54,1,12
1,0,33.25000,2.4200,0.005217,9.854167,False,False,3,34,1,13
2,0,33.66667,4.5000,0.004156,15.000000,True,False,4,58,1,5
3,0,30.50000,2.5400,0.065214,137.869200,False,False,0,25,1,7
4,0,32.16667,9.7867,0.067051,546.503300,True,False,2,64,1,5

In [3]:
from sklearn.pipeline import make_pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

my_pipeline = make_pipeline(RandomForestClassifier(n_estimators=100))
cv_scores = cross_val_score(my_pipeline, X,y,cv=5, scoring='accuracy')

print("Cross-validation accuracy: %f" % cv_scores.mean())

Cross-validation accuracy: 0.981043

* expediture 컬럼이 모호함!

In [5]:
expenditures_cardholders = X.expenditure[y]
expenditures_noncardholders = X.expenditure[~y]

print("Fraction of those who did not receive a card and had no expenditures : %.2f" % ((expenditures_noncardholders==0).mean()))
print("Fraction of those who received a card and had no expenditures : %.2f" % ((expenditures_cardholders==0).mean()))

Fraction of those who did not receive a card and had no expenditures : 1.00
Fraction of those who received a card and had no expenditures : 0.02

* leaky dataset : expenditure, share, active, majorcards

In [6]:
potential_leaks = ['expenditure','share','active','majorcards']
X2 = X.drop(potential_leaks, axis=1)

cv_scores = cross_val_score(my_pipeline, X2, y,cv=5, scoring='accuracy')
print("Cross-val accuracy: %f" % cv_scores.mean())

Cross-val accuracy: 0.833191