# 자료형
## 숫자형

In [2]:
a = 123
type(a)

int

In [3]:
a = 1.2
type(a)

float

In [6]:
a = 4.24e-10
type(a)

float

In [7]:
# Octal
a = 0o177
a

127

In [8]:
# Hex
a = 0x8ff
a

2303

In [9]:
a = 3
b = 4
a+b

7

In [10]:
a*b

12

In [11]:
a/b

0.75

In [12]:
a**b

81

In [13]:
7%3

1

In [14]:
7//3

2

## 문자열 자료형

In [17]:
a = "Life is too short, You need Python."
type(a)

str

In [18]:
a = "a"
type(a)

str

In [20]:
a = "Python's favorite food is perl"
print(a)

Python's favorite food is perl

In [21]:
a = "Life is too short\nYou need python."
print(a)

Life is too short
You need python.

In [22]:
a = """
Life is too short
You need python
"""
print(a)

Life is too short
You need python

In [29]:
head = "Python"
tail = " is fun!"
head+tail

'Python is fun!'

In [31]:
head * 2

'PythonPython'

In [32]:
print("=" * 50)
print("My Program")
print("=" * 50)

==================================================
My Program
==================================================

In [34]:
a = "Life is too short"
len(a)

17

In [35]:
a = "Life is too short, You need Python"
a[3]

'e'

In [36]:
a[12]

's'

In [38]:
a[-1]

'n'

In [39]:
a[0:4]

'Life'

In [40]:
a[12:17]

'short'

In [41]:
a[19:]

'You need Python'

In [42]:
a[:17]

'Life is too short'

In [43]:
a[:]

'Life is too short, You need Python'

In [44]:
a[19:-7]

'You need'

In [48]:
a = "20010331Rainy"
year = a[:4]
day = a[4:8]
weather = a[8:]
print(year)
print(day)
print(weather)

2001
0331
Rainy

In [49]:
a = "Pithon"
a[1] = 'y'

TypeError: 'str' object does not support item assignment

In [52]:
a=a[:1]+'y'+a[2:]
a

'Python'

In [53]:
"I eat %d apples." % 3

'I eat 3 apples.'

In [54]:
"I eat %s apples." % "five"

'I eat five apples.'

In [55]:
number = 3
"I eat %d apples." % number

'I eat 3 apples.'

In [56]:
number = 10
day = "three"
"I ate %d apples, so I was sick for %s days." % (number, day)

'I ate 10 apples, so I was sick for three days.'

>* %s : 문자열
>* %c : charater
>* %d : 정수
>* %f : 부동소수
>* %o : 8진수
>* %x : 16진수
>* %% : 문자 %

In [57]:
# 무적 %s
print("I have %s apples" % 3)
print("rate is %s" % 3.234)

I have 3 apples
rate is 3.234

In [58]:
"%10s" % "hi"

'        hi'

In [59]:
"%-10sjane." % "hi"

'hi        jane.'

In [61]:
"%10.4f" % 3.42134234

'    3.4213'

In [62]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [63]:
"I eat {0} apples".format("five")

'I eat five apples'

In [64]:
"I ate {0} apples. so I was sick for {1} days.".format(3,"three")

'I ate 3 apples. so I was sick for three days.'

In [65]:
"I ate {number} apples, so I was sick for {day} days".format(number=10, day=3)

'I ate 10 apples, so I was sick for 3 days'

In [66]:
"{0:<10}".format("hi")

'hi        '

In [67]:
"{0:>10}".format("hi")

'        hi'

In [68]:
"{0:^10}".format("hi")

'    hi    '

In [69]:
"{0:=^10}".format("hi")

'====hi===='

In [70]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [71]:
"{0:10.4f}".format(3.4213123)

'    3.4213'

In [72]:
"{{ and }}".format()

'{ and }'

In [73]:
name = "Jay"
age = 29
f"My name is {name}. I'm {age} old."

"My name is Jay. I'm 29 old."

In [77]:
d = {'name':'Jay', 'age':30}
f'My name is {d["name"]}. I\'m {d["age"]-1} old.'

"My name is Jay. I'm 29 old."

In [80]:
f'{"hi":>10}'

'        hi'

In [81]:
f'{"hi":^10}'

'    hi    '

In [82]:
y=3.4213123
f'{y:10.4f}'

'    3.4213'

In [83]:
a = "hobby"
a.count('b')

2

In [84]:
a = "Python is the best choice"
a.find('b')

14

In [85]:
a.find('k')

-1

In [86]:
a = "Life is too short"
a.index('t')

8

In [87]:
a.index('k')

ValueError: substring not found

In [88]:
",".join('abcd')

'a,b,c,d'

In [89]:
",".join(['a','b','c','d'])

'a,b,c,d'

In [90]:
"hi".upper()

'HI'

In [91]:
"HI".lower()

'hi'

In [92]:
" hi ".lstrip()

'hi '

In [93]:
" hi ".rstrip()

' hi'

In [94]:
" hi ".strip()

'hi'

In [96]:
print(a)
a.replace("Life","Your leg")

Life is too short

'Your leg is too short'

In [98]:
print(a)
a.split()

Life is too short

['Life', 'is', 'too', 'short']

In [99]:
a = "a:b:c:d"
a.split(":")

['a', 'b', 'c', 'd']