# List

In [4]:
a = []
print(type(a))
b = [1,2,3]
print(b)
c = ['Life','is','too','short']
print(c)
d = [1,2,'Life','is']
print(d)
e = [1,2,['Life','is']]
print(e)

<class 'list'>
[1, 2, 3]
['Life', 'is', 'too', 'short']
[1, 2, 'Life', 'is']
[1, 2, ['Life', 'is']]

In [5]:
a = [1,2,3]
a

[1, 2, 3]

In [6]:
a[0]

1

In [7]:
a[0]+a[2]

4

In [8]:
a[-1]

3

In [9]:
a = [1,2,3,['a','b','c']]
a

[1, 2, 3, ['a', 'b', 'c']]

In [10]:
a[0]

1

In [11]:
a[-1]

['a', 'b', 'c']

In [12]:
a[3][1]

'b'

In [13]:
a = [1,2,3,4,5]
a[0:2]

[1, 2]

In [14]:
print(a[:2])
print(a[2:])

[1, 2]
[3, 4, 5]

In [15]:
a = [1,2,3]
b = [4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [16]:
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [17]:
len(a)

3

In [19]:
a[2]=4
a

[1, 2, 4]

In [20]:
del a[1]
a

[1, 4]

In [21]:
a = [1,2,3,4,5]
del a[2:]
a

[1, 2]

In [22]:
a.append(3)
a

[1, 2, 3]

In [23]:
a.append([4,5])

In [24]:
a

[1, 2, 3, [4, 5]]

In [26]:
a = ['a','b','d','c']
a.sort()
a

['a', 'b', 'c', 'd']

In [27]:
a = ['a','c','b']
a.reverse()
a

['b', 'c', 'a']

In [28]:
a = [1,2,3]
a.index(3)

2

In [29]:
a.index(1)

0

In [30]:
a.index(0)

ValueError: 0 is not in list

In [31]:
a = [1,2,3]
a.insert(0,4)
a

[4, 1, 2, 3]

In [32]:
a.insert(3,5)
a

[4, 1, 2, 5, 3]

In [36]:
a=[1,2,3,1,2,3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [37]:
a.remove(3)
a

[1, 2, 1, 2]

In [38]:
a = [1,2,3]
a.pop()

3

In [39]:
a

[1, 2]

In [40]:
a = [1,2,3]
a.pop(1)

2

In [41]:
a

[1, 3]

In [42]:
a = [1,2,3,1,2]
a.count(1)

2

In [43]:
a=[1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [44]:
b=[6,7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]

In [45]:
a+=b

In [46]:
a

[1, 2, 3, 4, 5, 6, 7, 6, 7]

# Tuple
List와 다른점 : 리스트는 값의 생성, 삭제, 수정이 가능하지만 튜플은 불가능!

In [48]:
t1 = ()
type(t1)

tuple

In [49]:
t2 = (1,)
t3 = (1,2,3)
t4 = 1,2,3
t5 = ('a','b',('a','b'))
print(t2)
print(t3)
print(t4)
print(t5)

(1,)
(1, 2, 3)
(1, 2, 3)
('a', 'b', ('a', 'b'))

In [50]:
t5[2]

('a', 'b')

In [51]:
del t5[2]

TypeError: 'tuple' object doesn't support item deletion

In [52]:
t5[0] = 'c'

TypeError: 'tuple' object does not support item assignment

In [53]:
t1 = (1,2,'a','b')
print(t1[0])
print(t1[3])

1
b

In [54]:
t1[1:]

(2, 'a', 'b')

In [55]:
t2 = (3,4)
t1+t2

(1, 2, 'a', 'b', 3, 4)

In [56]:
t2 * 3

(3, 4, 3, 4, 3, 4)

In [57]:
len(t1)

4